*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(27, 27, 35);

    padding: 0;
 }

.main__container {
    position: relative;
    justify-content: center;
    /* left: 100px; */
    /* background-color: rgb(27, 27, 35); */

    
   
}
.array-container {
    /* background-color: rgb(27, 27, 35); */
    position: relative;
    justify-content: center;
    top: 100px;
    /* left: 100px; */
   
}

.btn, p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 1rem;
    padding: 10px 20px;
    height: 100%;
    font-size: 18px;
    /* width: 10%; */
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(27, 27, 35);
    /* background-color: #e9558b; */
    color: white;
    
}
.btn:hover {
    /* color: #f597ae; */
    color: #e9558b;
    transition: all 0.3s ease;
}

.array-bar {
    width: 20px;
    height: 30px;
    display: inline-block;
    background-color:#f597ae;
    margin: 0 1px;
}



@media screen and (max-width: 960px) {
    .array-bar{
        width: 15px;
        height: 25px;
    }
}

@media screen and (max-width: 680px) {
    .array-bar{
        width: 7px;
        height: 20px;
    }
}